body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

h2 {
  margin: 0;
}

#main-body {
  background-color: blue;
  height: 92vh;
  width: 100%;
}

#nav-links,
#nav-title {
  display: flex;
  justify-content: space-between;
}

#nav-links {
  align-items: flex-end;
  margin-right: 2vw;
  width: 30vw;
}

#nav-title {
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 2vw;
}

#nav-title * {
  margin: 0;
}

#nav-ul {
  border-bottom: 1px solid grey;
  display: flex;
  flex-flow: row nowrap;
  height: 8vh;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#nav-ul a {
  text-decoration: none;
}

#nav-ul li {
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  #nav-ul {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (m-width: 1000px) {
  #nav-links {
    width: 40vw;
  }
}
