body {
  margin: 0;
}

hr {
  margin: 0;
}

#main-body {
  height: 90vh;
  position: absolute;
  width: 100%;
}

#nav-links, #nav-title {
  display: flex;
  justify-content: space-between;
}

#nav-links {
  align-items: center;
  margin-right: 2vw;
  width: 30vw;
}

#nav-title {
  flex-direction: column;
  justify-content: center;
  margin-left: 2vw;
}

#nav-title p {
  margin: 0;
}

#nav-ul {
  border-bottom: 1px solid grey;
  display: flex;
  flex-flow: row nowrap;
  height: 10vh;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#nav-ul a {
  text-decoration: none;
}

#nav-ul li {
  list-style-type: none;
}
