body {
  margin: 0;
}

#nav-links, #nav-title {
  align-content: center;
  display: flex;
  justify-content: space-between;
}

#nav-links {
  width: 30vw;
  margin-right: 2vw;
}

#nav-title {
  margin-left: 2vw;
}

#nav-ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0;
}

#nav-ul li {
  list-style-type: none;
}
